
.all{
    display: flex;
    justify-content: space-around; 
}
.imgColor{
    width: 350px;
    height: 650px;
}
.imgfront{
    z-index: 100;
    background: url(bg-card-front.png);
    width: 447px;
    height: 245px;
    position: absolute;
    bottom: 45%;
    left: 20%;
}
.sec{
    display: flex;
    justify-content: center;
    position: relative;
    right:30%;
    margin-bottom: 70px;
}
.sec :nth-child(1)
{
    color: white;
    font-size: 100px;
}
.sec :nth-child(2)
{
    color: white;
    font-size: 50px;
    position: relative;
    top: 35px;
    left: 10px;
}
.sec2{
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 30px; */
    position: relative;
    bottom: 20%;

}
.sec2 div{
    display: flex;
    justify-content: center;
}
.sec2 div p{
    margin: 0 5px;
    font-size: 25px;
    color: white;
}
.sec3{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 5%;
}
.sec3 p{
    color: white;
    margin: 0 20px;
}
.imgback{
    width: 400px;
    position: absolute;
    bottom: 15%;
    left: 26%;
}
.inputClass{
    position: relative;
    top: 100px;
    left: 30px;
}
.inputText{
    width: 350px;
    height: 35px;
    border-radius: 10px;
}
.input{
    width: 60px;
    height: 30px;
    margin-right: 10px;
    border-radius: 5px;
}
.CVC{
    position: relative;
    bottom: 12%;
    left: 52%;
}
.CVC input{
    width: 160px;
    height: 30px;
    border-radius: 5px;
}
.btn{
    width: 100%;
    height: 40px;
    position: relative;
    bottom: 5%;
    background-color: rgb(12, 12, 67);
    color: white;
    border-radius: 10px;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(10, 10, 152);
}
.paraback{
    color: white;
    font-size: 20px;
    position: relative;
    bottom: 313px;
    left: 230px;
}

@media only screen and (max-width:1148px){
    .imgColor{
        /* width: 360%; */
        height: 90%;
    }
    .imgfront{
        bottom: 40%;
        left: 15%;
        width: 39%;
        z-index: 10;
    }
    .imgback{
        bottom: 5%;
        left: 20%;
        width: 39%;
    }
    .inputClass{
        bottom: 600px;
    }
    .paraback{
        bottom: 242px;
        left: 170px;
    }
    
} 
@media only screen and (max-width :1060px){
    .paraback{
        bottom: 232px;
        left: 170px;
    }
}
@media only screen and (max-width :962px){
    .paraback{
        bottom: 222px !important;
        left: 170px;
    }
    
}
@media only screen and (max-width :768px){
    .all{
        display: block;
    }
    .imgColor{
        width: 120% ;
        height: 650px;
    }
    .paraback{
        bottom: 222px !important;
        left: 170px;
    }
    .imgfront{
        width: 59%;
        height: 245px;
        position: absolute;
        bottom: 15%;
        left: 20%;
    }
    .imgback{
        width: 59%;
        position: absolute;
        bottom: 45%;
        left: 30%;
    }
    .paraback{
        position: absolute;
        bottom: 60% !important;
        left: 37% !important;
    }
    .inputClass :nth-child(1){
        font-size: 50px;
        text-align: center;
    }
    .inputClass :nth-child(3){
        font-size: 50px;
        text-align: center;
    }
    .inputClass :nth-child(5){
        font-size: 50px;
        text-align: center;
    }
    .inputText{
        width: 65%;
        height: 60px !important;
        border-radius: 10px;
        font-size: larger;
        position: relative;
        left: 20%;
    }
    .input{
        font-size: larger;
        width: 30%;
        height: 50px;
        margin-right: 10px;
        border-radius: 5px;
        position: relative;
        left: 20%;
    }
    .CVC p{
        position: relative;
        right: 50% !important;
    } #inputCVC{
        font-size: larger;
        width: 65%;
        height: 50px;
        position: relative;
        right: 32%;
        bottom: 20px ;
    }
    .btn{
        width: 70%;
        height: 70px;
        position: relative;
        bottom: 5%;
        left: 15%;
        margin: 20px;
    }
}
@media only screen and (max-width:522px){
    .imgfront{
        width: 70%;
        height: 220px;
        position: absolute;
        bottom: 15%;
        left: 18%;
        border-radius: 20px;
    }
    .imgback{
        width: 70%;
        position: absolute;
        bottom: 45%;
        left: 23%;
    }
    .paraback{
        position: absolute;
        bottom: 56.5% !important;
        left: 32% !important;
    }
    .sec2 div p{
        margin: 0;
        font-size: 20px !important;
        color: white;
    }


    .inputClass :nth-child(1){
        font-size: 30px;
        text-align: center;
    }
    .inputClass :nth-child(3){
        font-size: 30px;
        text-align: center;
    }
    .inputClass :nth-child(5){
        font-size: 30px;
        text-align: center;
    }
    .inputText{
        width: 55%;
        height: 50px !important;
        border-radius: 10px;
        font-size: larger;
        position: relative;
        left: 20%;
    }
    .input{
        font-size: larger;
        width: 25%;
        height: 30px;
        margin-right: 10px;
        border-radius: 5px;
        position: relative;
        left: 20%;
    }
    .CVC p{
        position: relative;
        right: 54% !important;
    } #inputCVC{
        font-size: larger;
        width: 55%;
        height: 40px;
        position: relative;
        right: 32%;
        bottom: 20px ;
    }
    .btn{
        width: 60%;
        height: 50px;
        position: relative;
        bottom: 5%;
        left: 15%;
        margin: 20px;
    }
}
@media only screen and (max-width:447px){
    .imgfront{
        width: 70%;
        height: 180px !important;
        position: absolute;
        bottom: 25%;
        left: 15%;
        border-radius: 20px;
    }
    /* .imgback{
        width: 70%;
        position: absolute;
        bottom: 45%;
        left: 23%;
    } */
    .paraback{
        position: absolute;
        bottom: 54% !important;
        left: 32% !important;
    }
    .sec2 div p{
        margin: 0;
        font-size: 20px !important;
        color: white;
        position: relative;
        bottom: 100%;
    }


    .sec :nth-child(1)
    {
        color: white;
        font-size: 70px;
        position: relative;
        bottom: 10px;
    }
    .sec :nth-child(2)
    {
        color: white;
        font-size: 40px;
        position: relative;
        top: 10px;
        left: 10px;
    }
    .sec3{
        position: relative;
        bottom: 11%;
    }
}
@media only screen and (max-width:376px){
    .imgfront{
        width: 70%;
        height: 150px !important;
        position: absolute;
        bottom: 25%;
        left: 15%;
        border-radius: 20px;
    }
    .paraback{
        position: absolute;
        bottom: 52% !important;
        left: 32% !important;
    }

    .sec2 div p{
        margin: 0;
        font-size: 15px !important;
        color: white;
        position: relative;
        bottom: 120%;
    }
    .sec :nth-child(1)
    {
        color: white;
        font-size: 50px;
        position: relative;
        bottom: 10px;
    }
    .sec :nth-child(2)
    {
        color: white;
        font-size: 30px;
        position: relative;
        top: 5px;
        left: 10px;
    }
    .sec3{
        position: relative;
        bottom: 15%;
    }
}
@media only screen and (max-width:310px){
    
    .all{
    width: 150px;
    }
    .imgColor{
        width: 200% !important;
        height: 650px;
    }
    .imgfront{
        width: 75%;
        height: 120px !important;
        position: absolute;
        bottom: 28%;
        left: 10%;
        border-radius: 10px;
    }
    .paraback{
        position: absolute;
        bottom: 51.5% !important;
        left: 32% !important;
        font-size: 17px;
    }

    .sec2 div p{
        margin: 0;
        font-size: 15px !important;
        color: white;
        position: relative;
        bottom: 260%;
    }
    .sec :nth-child(1)
    {
        color: white;
        font-size: 50px;
        position: relative;
        bottom: 10px;
    }
    .sec :nth-child(2)
    {
        color: white;
        font-size: 30px;
        position: relative;
        top: 5px;
        left: 10px;
    }
    .sec3{
        position: relative;
        bottom: 45%;
    }
    .inputClass{
        position: relative;
        left: 70px;
        margin-right: 0 !important;
    }
    .inputClass :nth-child(1){
        font-size: 20px;
        text-align: center;
    }
    .inputClass :nth-child(3){
        font-size: 20px;
        text-align: center;
    }
    .inputClass :nth-child(5){
        font-size: 20px;
        text-align: center;
    }
    .inputText{
        width: 100%;
        height: 30px !important;
        border-radius: 10px;
        font-size: 10px;
        position: relative;
        left: 0;
    }
    .input{
        font-size: 10px;
        width: 30%;
        height: 20px;
        margin-right: 10px;
        border-radius: 5px;
        position: relative;
        left: 10%;
    }
    .CVC p{
        position: relative;
        right: 54% !important;
    } #inputCVC{
        font-size: 10px;
        width: 90%;
        height: 20px;
        position: relative;
        right: 45%;
        bottom: 20px ;
    }
    .btn{
        width: 100%;
        height: 30px;
        position: relative;
        bottom: 5%;
        left: -10%;
        margin: 20px;
    }
}
@media only screen and (max-width:288px){
    .paraback{
        position: absolute;
        bottom: 49.5% !important;
        left: 32% !important;
        font-size: 17px;
    }
    #java{
        font-size: 12px;
    }
}
